#roses {
  color:fuchsia;
  font-family: verdana;
  background-color:rosybrown;
  font-size: 20px;
  }

  #lilies {
    color:orangered;
    background-color: aquamarine;
    font-family:Cambria;
    font-size: 20px;
    }

    #Jasmine{
        color:floralwhite;
        background-color: green;
        font-size: 20px;
    }
h1{
    color:forestgreen;
}

